@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

/* Game Page styling */

body {
    background-color: rgb(247, 237, 225);
}

.heading {
    text-align: center;
    font-family: 'Bebas Neue', Lato;
}

h3 {
    font-family: 'Bebas Neue', Lato;
    text-align: center;
    margin-bottom: -5%;
    font-style: italic;
    font-size: x-large;
    color: chocolate;
    font-weight: bolder;
}

.score-box {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    word-spacing: 0.5em;
    margin-top: 1.5rem;
}

/* Navigation bar styling */

.nav-bar {
    text-align: center;
    word-spacing: 0.3cm;
    font-size: x-large;
    font-weight: bold;
}

.nav-bar a {
    text-decoration: none;
    color: rgba(47, 15, 226, 0.959);
}

.nav-bar a:hover {
    border-bottom: 3px solid rgba(47, 15, 226, 0.959);
}

.nav-bar a.active {
    border-bottom: 3px solid rgba(47, 15, 226, 0.959);
}

/* Game buttons styling */

#rock {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    margin-right: 1.5em;
}

#paper {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    margin-right: 1.5em;
}

#scissors {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
}

.home-page {
    display: grid;
    grid-template-areas: 
    ". h3 ."
    ". game-buttons ."
    ". scores .";
    grid-template-rows: 3fr 4fr 3fr;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}

.home-page {
    grid-column-start: 2;
}

h3 {
    grid-area: h3;
}

.game-buttons {
    grid-area: game-buttons;
    margin-top: 2rem;
}

.scores > p {
    grid-area: scores;
    margin-top: 1.5rem;
}

.buttons {
    display: inline-block;
    transition: 100ms;
}

.buttons:hover {
    transform: scale(1.2);
}

/* Instructions Page styling */

h4 {
    font-family: 'Bebas Neue', Lato;
    font-size: x-large;
    font-weight: 900;
    margin: 1.5rem auto 1rem;
}

p {
    font-family: 'Bebas Neue', Lato;
    font-size: large;
    margin: 1rem 1rem auto 1rem;
}

.instructions-two {
    font-size: x-large;
    font-family: 'Bebas Neue', Lato;
}

.instructions {
    font-family: 'Bebas Neue', Lato;
    font-size: large;
    margin: auto 1rem auto 1rem;
}

#welcome-page {
    display: grid;
    grid-template-areas: 
    ". aim ."
    ". p ."
    ". instructions-two ."
    ". instructions .";
    grid-template-rows: 0.5fr 1.5fr 0.5fr 1.5fr;
    grid-template-columns: 2fr 1.5fr 2fr;
}

.aim {
    grid-area: aim;
}

p {
    grid-area: p;
}

.instructions-two {
    grid-area: instructions-two;
}

.instructions {
    grid-area: instructions;
}

/* Media Queries */

/* For small screens min 280px max 480px wide and down */
@media screen and (min-width: 280px) and (max-width: 480px) {

    /* Game buttons styling */

    #rock {
        font-size: 2rem;
        margin-right: 0.6em;
    }
    
    #paper {
        font-size: 2rem;
        margin-right: 0.6em;
    }
    
    #scissors {
        font-size: 2rem;
    }

    /* Instructions Page styling */

h4 {
    font-family: 'Bebas Neue', Lato;
    font-size: large;
    font-weight: 900;
    margin: 1.5rem auto 1rem;
}

p {
    font-family: 'Bebas Neue', Lato;
    font-size: medium;
    margin: 1rem 1rem auto 1rem;
}

.instructions-two {
    font-size: large;
    font-family: 'Bebas Neue', Lato;
}

.instructions {
    font-family: 'Bebas Neue', Lato;
    font-size: medium;
    margin: auto 1rem auto 1rem;
}

#welcome-page {
    display: grid;
    grid-template-areas: 
    ". aim ."
    ". p ."
    ". instructions-two ."
    ". instructions .";
    grid-template-rows: 5rem 0.5fr 5rem 0.5fr;
    grid-template-columns: 1fr 1.5fr 1fr;
}

}

/* For small screens min 481px max 786px wide and down */
@media screen and (min-width: 481px) and (max-width: 786px) {

    /* Game buttons styling */

#rock {
    font-size: 2.5rem;
    margin-right: 0.8em;
}

#paper {
    font-size: 2.5rem;
    margin-right: 0.8em;
}

#scissors {
    font-size: 2.5rem;
}

/* Instructions Page styling */

#welcome-page {
    display: grid;
    grid-template-areas: 
    ". aim ."
    ". p ."
    ". instructions-two ."
    ". instructions .";
    grid-template-rows: 6rem 10rem 6rem 1fr;
    grid-template-columns: 1fr 1.5fr 1fr;
}

}
  
