@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

body {
    background-color: rgb(247, 237, 225);
}

.heading {
    text-align: center;
}

h3 {
    text-align: center;
}

.game-buttons {
    justify-content: center;
    display: flex;
}

.rock {
    background: none;
    border: none;
}

.paper {
    background: none;
    border: none;
}

.scissors {
    background: none;
    border: none;
}

.scores {
    text-align: center;
}