@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

/* Game Page styling */

body {
    background-color: rgb(247, 237, 225);
}

.heading {
    text-align: center;
}

/* Navigation bar styling */

.nav-bar {
    text-align: center;
    word-spacing: 0.3cm;
    font-size: x-large;
    font-weight: bold;
}

.nav-bar a {
    text-decoration: none;
    color: rgba(47, 15, 226, 0.959);
}

.nav-bar a:hover {
    border-bottom: 3px solid rgba(47, 15, 226, 0.959);
}

.nav-bar a.active {
    border-bottom: 3px solid rgba(47, 15, 226, 0.959);
}

h3 {
    text-align: center;
    margin-bottom: -5%;
    font-style: italic;
    font-size: x-large;
    color: chocolate;
    font-weight: bolder;
}

.game-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 10rem;
    margin: 3rem 0 3rem 0;
}

.rock {
    background: none;
    border: none;
    font-size: 48px;
}

.paper {
    background: none;
    border: none;
    font-size: 48px;
}

.scissors {
    background: none;
    border: none;
    font-size: 48px;
}

.scores {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    word-spacing: 0.5em;
    display: grid;
    row-gap: 1.5rem;
    margin-top: 1.5rem;
}

/* Instructions Page styling */

h4 {
    font-size: large;
    font-weight: 900;
    margin-left: 1rem;
}

p {
    font-size: large;
    margin: auto 1rem auto 1rem;
}

.instructions {
    font-size: large;
    margin: auto 1rem auto 1rem;
}





